@import './varibles';

.faq__section{
   @include container-body;
   padding-top: 300px;
   @media(max-width:  $mobile-breakpoing) {
    padding-top: 50px;
}
  }

.faq__header{
    font-family: "SFNS Display";
    font-size: 40px;
    line-height: 50px;
    width: 70%;
    @media(max-width:  $mobile-breakpoing) {
        width: 100%;
    }
}

.faq__button{
    @include button;
    color: $main-elements-color;
    border: 2px solid $main-elements-color;
    padding: 0 20px ;
    line-height: 18px;
    margin-top: 30px;
    @include  transition-button ; 

    &:hover{
        background-color:  $main-elements-color;
        color: $font-above-color;
    }
}

.faq__image{
    position: relative;
    left: -120px;
    @media(max-width:  $mobile-breakpoing) {
        left: 0px;
    }
    @media(min-width:  $mobile-breakpoing) and (max-width: $small-desktop) {
        left: -80px;
    }
}
.tab__title{
    background-color: $main-elements-color;
    padding: 1.3em;
    @include tab-title-main ;
    border-radius: 4px;
    margin-top: 4px;
    cursor: pointer;
    @include  transition-button ; 
    &:hover{
        background-color: $main-color-darker;
    }
}

.tab__content{
    padding: 1em;
    @include text-normal;
}

.tab__nested{
    .nested__titile{
    @include tab-title-main ;
    color: $secondary-font-color;
    }

}
.nested__tab__title{
    @include tab-title-nested;
    font-weight: 600;
    padding-left: 1.3em;
    margin-bottom: 1em;
    cursor: pointer;

}
.nested__tab__content{
    padding-left: 1.3em;
    padding-bottom: 3rem;
    @include text-normal;
}
.ReactCollapse--collapse {
    transition: height 800ms;
  }