@import './varibles';

.faq__section{
   @include container-body;
   padding:  100px 0;
  }

.faq__header{
    font-family: "SFNS Display";
    font-size: 40px;
    line-height: 50px;
    width: 70%;
    
    @media(max-width:  $mobile-breakpoing) {
        width: 100%;
    }
}

.faq__button{
    @include button;
    color: $main-elements-color;
    border: 2px solid $main-elements-color;
    padding: 0 20px ;
    line-height: 18px;
    margin-top: 30px;
}

.faq__image{
    position: relative;
    left: -150px;

    @media(max-width:  $mobile-breakpoing) {
        left: 0px;
    }
}
.tab{
    background-color: $main-elements-color;
    padding: 1.3em;
    @include tab-title-main ;
    border-radius: 4px;
    margin-top: 4px;

   
}

.tab__content{
    padding: 1.3em;
    @include text-normal;
}

.tab__nested{
    .nested__titile{
    @include tab-title-main ;
    color: $secondary-font-color;
    }

    .nested__text{

    }
}