@import './varibles';


.cta__section{
    @include container-body;
    background-color: $main-elements-color;
    color: $font-above-color;
    padding: 25px 0 ;
    border-radius: 16px;
    @media(max-width:  $mobile-breakpoing) {
     width: 100%;
     padding: 25px 5%;
    }
    @media(min-width:  $mobile-breakpoing) and (max-width: $small-desktop) {
        width: 100%;
        padding: 25px 5%;
    }
}
.cta__header{
    @include header-big;
    @media(max-width:  $mobile-breakpoing) {
        width: 100%;
       }
}

.cta__button{
    @include button;
    background-color: $font-above-color;
    color: $main-elements-color;
    padding:  0 20px;
    margin-top: 32px;
    border: $main-elements-color 2px solid; 
    @include transition-button;

    &:hover{
        background-color: $main-elements-color;
        color: $font-above-color;
        border: $font-above-color 2px solid; 
    }
}
.cta__checkmarks{
    display: flex;
    align-items: center;
    margin-right: 12px;
    margin-top: 15px;
    margin-bottom: 15px;

    @media(max-width:  $mobile-breakpoing) {
        margin-top: 25px;
       }
    
    .checkmark__icon{
        margin-right: 12px;
    }
}