$primary-font-color: #0E0E0E;
$secondary-font-color: #4A4764;
$main-elements-color: #4432FF;
$font-above-color: white;

$font-headers:  "AllRoundGothicW01-Bold";
$font-primary: "Comfortaa";

$mobile-breakpoing: 700px;

@mixin nav-font-bold {
    font-weight: bold; 
    font-size: 14px;
    letter-spacing: 0;
    color: $primary-font-color
}

@mixin container-body {
    width: 70%;
    margin: 0 auto;

    @media(max-width:  $mobile-breakpoing) {
        width: 90%;
    }
}

@mixin header-big {
    font-size: 56px;
    line-height: 64px;
    font-family: $font-headers;

    @media(max-width:  $mobile-breakpoing) {
        font-size: 30px;
        line-height: 40px;
    }
}

@mixin header-secondary{
    font-family: "SFNS Display";
    font-size: 40px;
}

@mixin text-normal {
    font-size: 16px;
    line-height: 28px;
    color: $secondary-font-color;
}

@mixin button {
    font-size: 16px;
    height: 56px ;
    border-radius: 4px;
    line-height: 18px;
}

@mixin tile-header {
    font-size: 24px;
    height: 40px;
    font-family: "SFNS Display";
    color: $primary-font-color
}
@mixin tile-text {
    font-size: 16px;
    line-height: 28px;
    color: $secondary-font-color;
}