$primary-font-color: #0e0e0e;
$secondary-font-color: #4a4764;
$main-elements-color: hsl(245, 100%, 60%);
$main-color-darker: rgb(52, 41, 197);
$gray-onHover: rgb(216, 216, 216);
$font-above-color: white;
$background-color: #f4f7f9;
@font-face {
  font-family: "AllRoundGothicW01-Bold";
  src: url("//db.onlinewebfonts.com/t/8df141f447c5686cf9dbae8dabb1e71a.eot");
  src: url("//db.onlinewebfonts.com/t/8df141f447c5686cf9dbae8dabb1e71a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8df141f447c5686cf9dbae8dabb1e71a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/8df141f447c5686cf9dbae8dabb1e71a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/8df141f447c5686cf9dbae8dabb1e71a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/8df141f447c5686cf9dbae8dabb1e71a.svg#AllRoundGothicW01-Bold")
      format("svg");
}
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@font-face {
  font-family: "SFNS Display";
  src: url("//db.onlinewebfonts.com/t/9e14b4e72dec1db9a60d2636bbfe64f2.eot");
  src: url("//db.onlinewebfonts.com/t/9e14b4e72dec1db9a60d2636bbfe64f2.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/9e14b4e72dec1db9a60d2636bbfe64f2.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/9e14b4e72dec1db9a60d2636bbfe64f2.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/9e14b4e72dec1db9a60d2636bbfe64f2.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/9e14b4e72dec1db9a60d2636bbfe64f2.svg#SFNS Display")
      format("svg");
}

@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

$font-headers: "AllRoundGothicW01-Bold";
$font-primary: "Comfortaa";

$mobile-breakpoing: 640px;
$mobile-landscape: 768px;
$small-desktop: 1024px;
$desktop: 1280px;
$large-destkop: 1536px;

@mixin nav-font-bold {
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 0;
  color: $primary-font-color;
}

@mixin container-body {
  width: 60%;
  margin: 0 auto;
  @media (max-width: $mobile-breakpoing) {
    width: 90%;
  }

  @media (min-width: $mobile-breakpoing) and (max-width: $small-desktop) {
    width: 90%;
  }
}

@mixin header-big {
  font-size: 2.5rem;
  line-height: 64px;
  font-family: $font-headers;

  @media (max-width: $mobile-breakpoing) {
    font-size: 30px;
    line-height: 40px;
  }
}

@mixin header-secondary {
  font-family: "SFNS Display";
  font-size: 2.2rem;
}

@mixin text-normal {
  font-size: 0.9rem;
  line-height: 28px;
  color: $secondary-font-color;
  font-family: "Comfortaa", cursive;
}

@mixin tab-title-main {
  font-size: 1rem;
  line-height: 28px;
  color: $font-above-color;
}

@mixin tab-title-nested {
  font-size: 1rem;
  line-height: 28px;
  color: $main-elements-color;
}

@mixin button {
  font-size: 1rem;
  height: 50px;
  border-radius: 4px;
  line-height: 18px;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
}

@mixin transition-button {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

@mixin get-darker {
  background-color: $main-color-darker;
}

@mixin tile-header {
  font-size: 1.5rem;
  height: 40px;
  font-family: "SFNS Display";
  color: $primary-font-color;
}

@mixin tile-text {
  font-size: 0.9rem;
  line-height: 28px;
  color: $secondary-font-color;
}
