@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.App{
  // width: 70%;
  margin: 0 auto;
  overflow-x: hidden;

}

.profit-background-image{
  position: absolute;
  width: 120%;
  top: 50%;
  left: -15%;
  transform: translateY(-50%);
}
.profit-social-icon-holder{
  background: url("./assets/section--profit/illustration-segment.png") center center no-repeat;
  .social-icon{
    width: 80px;
  }
}

.profit__section::before {
  position: absolute;
  top: 23%;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("./assets/section--profit/illustration-segment.png") no-repeat center center;
  opacity: 1;
  content: "";
}


  .header {
  width: 70%;
  margin: 0 auto;
  }
  .footer{
    width: 70%;
    margin: 0 auto;
  }
.faq__section{
  width: 70%;
  margin: 0 auto;
}
.hero__section{
  width: 70%;
  margin: 0 auto;
}
.options__section{
  width: 85% ;
  margin: 0 auto;
}
.profit__section {
  width: 70%;
  margin: 0 auto;
}.seo__section{
  width: 70%;
  margin: 0 auto;
}.cta__section{
  width: 70%;
  margin: 0 auto;
  .rec-dot{
    display: none;
  }
}
.rec-arrow{
  display: none;
}
.card__vanish{
  background: linear-gradient(270deg, #FFFFFF 0%, rgba(255,255,255,0.88) 32.78%, rgba(255,255,255,0) 100%);
  height: 432px;
  width: 196px;
}
.opinion__card{
  height: 432px;
  width: 396px;
}